:root{
    --ms-orange: #E67907;
    --ms-yellow: #E5D401;
    --ms-green: #24E502;
    --ms-dark: #000000;
    --ms-primary: #E12A12;
    --ms-light: #ffffff; 
}


body{
    font-family: 'Roboto', sans-serif;
}

#grid{
    width: 200px;
    height: 200px;
    background-color: rgba(93, 109, 199, 0.739);
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-btn{
    display: flex;
    justify-content: center;
}

#number{
    width: 50px;
}
#number:hover{
    border-color: rgba(93, 109, 199, 0.739); 
}
